<div class="container row">
  <div class="col-6">
    <label for="limite"> Limite velocidad </label>
    <input name="limite" type="number">

  </div>

  <div class="col-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Velocidad</th>
          <th scope="col">Patente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of datos; let i = index" [ngClass]="{
                'text-danger':registro.velocidad >= 100,
                'text-warning':registro.velocidad > 85
                        }" (click)="verDetalle(registro)">
          <ng-container *ngIf="registro.velocidad >= 85">
            <th scope="row">{{ i }}</th>
            <td>{{ registro.fecha | date: 'mediumDate' }}</td>
            <td>{{ registro.velocidad }} Km/h</td>
            <td>{{ registro.patente }}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>